@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --corPrincipal--: #18264f;
  --corSecundaria--: #4367b0;
  --amarelo--: #f1bd1b;
  --corInputs--: #e67171;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  color: var(--corSecundaria--);
}

.row {
  width: 80%;
}

.btn {
  background-color: var(--corSecundaria--);
  border: none;
  width: 150px;
}

.btn:hover {
  background-color: var(--amarelo--);
  border: none;
}

@media screen and (max-width: 576px) {
  .banner {
    width: 90%;
    background-image: url('../images/banner_celular.png');
  }
}